* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.23s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f8f9fa;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* ===== Navbar ===== */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 5%;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    z-index: 100;
    animation: fadeIn 0.5s ease-in-out;
}
body.dark nav {
    background-color: #242424;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}   
.nav-links {
    list-style: none;
    display: flex;
    gap: 34px;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-links a {
    text-decoration: none;
    color: #555;
    font-weight: 500;
    font-size: 16px;
}

.nav-links a:hover {
    transform: scale(1.01);
    color: rgb(45, 78, 220);
}
body.dark nav .nav-links a {
    color: #fff;
}
body.dark nav .nav-links a:hover{
    color: #e58c4c;
}
body.dark .auth-buttons a {
    color: #fff;
}
body.dark .auth-buttons .login-button   {
    background-color: #292929;
    border-color: #3e3e3e; ;
}
body.dark .auth-buttons .dark-mode {
    background-color: #e6e6e6;
    border-color: #676767;
    color: black;
}
.logo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo a {
    text-decoration: none;
}

.logo a h1 {
    font-weight: 720;
    font-size: 28.8px;
    color: #2D4EDC;
}

.logo a h1:hover {
    transform: scale(1.08);
    color: rgb(45, 78, 220);
}

/* ===== Auth Buttons ===== */
.auth-buttons {
    display: flex;
    gap: 22px;
    font-size: 16px;
    transition: color 0.3s ease;
}

.login-button {
    background-color: #fff;
    color: rgb(45, 78, 220);
    border: 1.5px solid rgb(45, 78, 220);
    border-radius: 4px;
    padding: 10px 22px;
    font-size: 14.4px;
    font-weight: 560;
    cursor: pointer;
}
body.dark .login-button {
    background-color: #292929;
    border-color: #3e3e3e;
    color:#fff;
}
.auth-buttons a {
    text-decoration: none;
    color: rgb(45, 78, 220);
}

.login-button:hover {
    background-color: rgba(65, 94, 223, 0.05);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(45, 78, 220, 0.2);
}

.signup-button a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.signup-button {
    background-color: rgb(45, 78, 220);
    color: #ffffff;
    border: 1.5px solid rgb(45, 78, 220);
    border-radius: 4px;
    padding: 10px 22px;
    font-size: 14.4px;
    font-weight: 600;
    cursor: pointer;
}

.signup-button:hover {
    background-color: rgb(35, 65, 200);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(45, 78, 220, 0.2);
}
.dark-mode{
    width: 100px;
    height: 45px;
    padding: 5px 10px;
    background-color: #242424;
    color: #fff;
    border: 2px solid ;
    border-radius: 5px;
    cursor: pointer;   
}
.dark-mode:hover{
    background-color: #262626;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(17, 18, 19, 0.2);
}
/*ham menu*/
.ham-menu{
    display: none;
}
.bar{
    display: none;
}
.nav-links.show{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0px;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    animation: fadeIn-left 0.5s ease-in-out;
    box-shadow: 0 4px 5px -2px #525252a6;
    border-radius: 7px;
}
body.dark .nav-links.show{
    background-color: #292929;
}
.nav-a{
    max-width: 100px;
}

.auth-buttons.show{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    top: 70px;
    right: 20px;
    animation: fadeIn-left 0.5s ease-in-out;
}
/* ===== Animations ===== */
@keyframes fadeOut-left {
    from {
        opacity: 1;
        transform: translateX(-20px);
    }
    to {
        opacity: 0;
        transform: translateX(0px);
    }
}

@keyframes fadeIn-left {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ===== Form Section ===== */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px);
    padding: 2rem;
    animation: fadeIn 1s ease-in-out;
}
body.dark .container{
    background-color: #262626;
}
.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out;
    color: black;
    margin-right: 120px;
}
body.dark .login-form{
    background-color: #292929;
    color: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}
.form-header {
    text-align: center;
    margin-bottom: 32px;
}

.form-header h2 {
    font-size: 32px;
    font-weight: 700;
    color: #2D4EDC;
    margin: 10px;
}

.form-header p {
    font-size: 15px;
    color: #555;
}
body.dark .form-header p{
    color: #fff;
}
.labels {
    margin-bottom: 8px;
    color: #444444;
    font-weight: 600;
}
body.dark .labels{
    color: #fff;
}
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.form-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 16px;
}

.form-column input {
    font-size: 15px;
    width: 100%;
    padding: 12.8px 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 24px;
    letter-spacing: 0.4px;
    height: 54px;
    display: flex;
}

.form-column input:focus {
    outline: none;
    border-color: #4847a1;
    box-shadow: 0 0 0 2px rgba(45, 78, 220, 0.2);
}
body.dark .form-column input{
    background-color: #242424;
    color: #fff;
    border: 1px solid #3a3a3a;
}
body.dark .form-column input:focus{
    outline: none;
    border-color: #4847a1;
    box-shadow: 0 0 0 2px rgba(45, 78, 220, 0.2);
}
body.dark .form-column input::placeholder{
    color: #fff;
}
.form-footer {
    display: flex;
    flex-direction: column;
    text-align: center;
}
body.dark .form-footer p{
    color: #fff;
}
.login-btn {
    background-color: rgb(45, 78, 220);
    color: #fff;
    border: 1.5px solid rgb(45, 78, 220);
    border-radius: 4px;
    padding: 10px 22px;
    font-size: 14.4px;
    font-weight: 600;
    cursor: pointer;
    height: 50px;
    margin-bottom: 25px;
}

.login-btn:hover {
    background-color: rgb(35, 65, 200);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(45, 78, 220, 0.2);
}

.form-footer p {
    color: #555;
    font-size: 14px;
}

.form-footer p a {
    transition: color 0.3s ease;
    color: rgb(45, 78, 220);
    text-decoration: none;
    font-weight: 600;
}

.form-footer p a:hover {
    text-decoration: underline;
}
footer {
    background-color: #e0e0e0;
    padding: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #555;
    font-size: 14px;
    height: 80px;
}

footer p {
    font-size: 17px;
    color: rgb(0, 0, 0);
    margin-right: 130px;
}
body.dark footer{
    background-color: #323232;
}
body.dark footer p{
    color: white;
}

@media(max-width:940px){
    nav{
        padding: 22px 3%;
        gap: 12px;
    }
}
@media(max-width:880px){
    .login-form{
        width:100%;
        margin-right: 0px;
        margin-left: 0px;
    }
    nav{
        flex-wrap: wrap;
        padding: 22px 3%;
        gap: 12px;
    }
    .nav-links{
        display: none;
    }
    .auth-buttons{
        display: none;
    }
    .ham-menu{
        display: block;
    }
    .bar{
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #101010;
        border-radius: 30px;
    }
    .ham-menu:hover{
        transform: scale(1.1);
    }

}
